@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

div {
  box-sizing:border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-image: url('../images/isai-ramos-_3SFFsWqCVg-unsplash.jpg');
  
}

.title {
  font-family: 'Alfa Slab One',  cursive;
  font-size: 60px;
  color: white;
  text-decoration: overline;
  margin: 10px 0px 10px 0px;


}

.mainSegment {
  display: flex;
  justify-content:space-between;
  width: 1100px;
  height: 400px;
}

/* Grid Setup */

#playerGrid, #computerGrid{
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
}

#playerGrid div, #computerGrid div {
  border: 1.5px solid green;
  /* background-color: lightblue; */
  opacity: 0.7;
  height: 10%;
  width: 10%;
}

#playerGrid {
  background-color: lightgreen;
  border: 20px solid slategray;
  border-radius: 10px 10px 0px 0px;
}

#computerGrid{
  background-color:lightgreen;
  border: 20px solid slategray;
  border-radius: 10px 10px 0px 0px  ;
}


#playerGrid div h1, #computerGrid div h1 {
  font-size: 10px;
}

.selectedValid {
  background-color: lightgray;
}

.shipDeployed {
  background-color: green;
}


.selectedInvalid {
  background-color: red;
}


/* .shipHit {
  background-color: brown;
} */

/* .shipHitSuccess {
  background: red;
} */

/* ship index */

.shipIndex {
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 1100px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.playerShips {
  display: flex;
  justify-content: center;
  border: 10px solid slategray;
  width: 400px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  background-color: lightgreen;
}

.compShips {
  display: flex;
  justify-content: center;
  border: 10px solid slategray;
  width: 400px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  background-color: lightgreen;
}

.destroyeri {
  width: 40px;
  height: 120px;
  background-color: darkgray;
  margin-right: 10px;
  border-radius: 18px 18px 10px 10px ;
  border: 2px dashed lightgray;
} 

.destroyerTwoi {
  width: 40px;
  height: 120px;
  background-color: darkgray;
  margin-right: 10px;
  border-radius: 18px 18px 10px 10px ;
  border: 2px dashed lightgray;
} 
.carrieri {
  width: 40px;
  height: 160px;
  background-color: darkgray;
  margin-right: 10px;
  border-radius: 10px 10px 10px 10px ;
  border: 2px dashed lightgray;
} 
.cruiseri {
  width: 40px;
  height: 80px;
  background-color: darkgray;
  margin-right: 10px;
  border-radius: 5px 5px 5px 5px ;
  border: 2px dashed lightgray;
} 
.corvettei {
  width: 40px;
  height: 40px;
  background-color: darkgray;
  margin-right: 10px;
  border-radius: 5px 5px 5px 5px ;
  border: 2px dashed lightgray;
} 


/* button */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 80px;
  background-color: darkgrey;
  border-radius: 30px; 
}

.button div {
  display: flex;
  justify-content: center;
  background-color:darkred;
  width: 80% ;
  height: 70%;
  border-radius: 20px;
}

.infoSquare {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: slategray;
  height: 100%;
  width: 250px;
  padding: 20px;
  margin: 0px 10px;
  border-radius: 5px;
}

#shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 20px 20px;
}

#shadow h1{
  font-size: 30px;
  font-family: sans-serif;
  color: white
}

.infoSquare img{
  width: 80px;
  margin-top: 20px;
}

.speechBubble {
  width: 180px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
}

#speechArrow {
  position: relative;
  background-color: white;
  transform: rotate(45deg);
  bottom: 10px;
  left: 45%;
  width: 20px;
  height: 20px;
}

#instructions {
  font-family: 'Special Elite', cursive;
  margin: 10px;
  text-align: center;
}